# 小米 MiMo API
MIMO_API_KEY=tp-c6w5jsmi9x28pgwhuq8gh9bshuib12qx7f3brwc80orthn51
MIMO_BASE_URL=https://token-plan-cn.xiaomimimo.com/v1
MIMO_MODEL=mimo-v2.5-pro

# Tavily Search API
TAVILY_API_KEY=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

# Smithery
SMITHERY_API_KEY=a4d48f90-8e7e-49ff-b5ea-85195779bd20
SMITHERY_NAMESPACE=1364382646
